@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;    
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;    
}

body {    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    background-color: #F2F2F2;
    color: #000000;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-header {
    width: 1200px;
    margin: 0 auto;
    color: #000000;
    background-color: #FFFFFF;
}

.logo {
    width: 140px;
    margin-right: 30px;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 345px;
    margin: 0;
    padding: 0;
    margin-right: 281px;
}

.navigation-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.navigation-custom-menu {
    max-width: 264px;
    margin: 0;
}

.navigation-link .navigation-custom-menu {
    min-width: 42px;
    min-height: 65px;    
}

.navigation-item {       
    list-style-type: none;
}

.main-container {
    margin: 0;
    padding: 0;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.inner-header {
    background-image: url("../images/mountains.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-top: 35px;
}

.welcome {
    background-repeat: no-repeat;
    background-image: url("../images/index-background.jpg");
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}


.benefits {
    margin: 0;
    padding: 0;
    color: #333333;
    background: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.benefits-item {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 384px;         
    list-style-type: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;       
    background-color: rgba(131, 179, 211, 0.2);
    color: #333333;
    margin: 0;
    padding: 0;
}

.benefits-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    width: 720px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 22px;
}

.benefits-sedona-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    width: 720px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.benefits-title-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.benefits-list {
    display: flex;    
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;
}

.benefits-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.benefits-description {
    min-width: 250px;
}

.icon {
    order: -1;
    align-self: center;
}

.benefits-item:nth-child(6n + 1) {    
   background-color: #83b3d3;
   color: #FFFFFF;
}

.benefits-item:nth-child(-4n + 6) {
    width: 800px;
}

.benefits-item:nth-child(4) {
    background-color: #FFFFFF;
}

.benefits-item:nth-child(2n + 8) {
    background: rgba(131, 179, 211, 0.12)
}

.hotel-search {
    background-color: #FFFFFF;
    color:  #000000;
    text-align: center;
    margin: 0;
}

.hotel-search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 15px;
}

.hotel-search-date {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
}

.button {
    background: #756257;
    
}

.button-hotel-search {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 auto;    
    margin-bottom: 90px; 
    width: 585px;
}

.mailing-list {
    background-image: url("../images/background.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFFFFF;
    padding: 94px 200px;
}

.mailing-list-catalog {
    text-align: center;
    color: #000000;
    padding: 94px 200px;

}

.mailing-list-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.mailing-list-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.mailing-list-form .button {
    background: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 35px 0;
    justify-content: space-around;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;    
    list-style-type: none;
}

.footer-social {
    width: 110px;
}

.footer-social-item {
    width: 20px;
    height: 15px;
    margin-right: 30px;
    margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}


.main-footer-contacts {
    width: 720px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.developer {
    display: block;
    padding-top: 42px;
    padding-bottom: 44px;
    width: 110px;

}

.container-page-inner {
    width: 1060px;
    margin: 0 auto;
}

.hotels-filter {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 83px;
}

.hotels-filter-group {
    width: 150px;
    margin: 0;
    padding: 0;
}

.hotels-filter-group-price {
    width: 280px;
}

.hotels {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}

.hotels-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

.breadcrumbs-item {
    margin-right: 26px;
    padding-bottom: 45px;
}

.breadcrumbs-link {
    margin: 0;
    padding: 0;
}

.control-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.button-submit {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #83B3D3;
    width: 160px;
}

.button-reset {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    width: 160px;
}

.hotel-rating {
    background:#F2F2F2;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.select-control {
    width: 287px;
    height: 50px;
    margin-right: 81px;
}

.sorting {
    width: 1060px;
    margin: 0 auto;
}

.display-sort-items {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 53px;
}

.button-dark {    
    border: 2px solid #000000;
    width: 46px;
    height: 46px;
    margin-right: 8px;  
}

.button-light {
    border: 2px solid #e5e5e5;
    width: 46px;
    height: 46px;
    margin-right: 8px;
}

.number-of-results-found {    
    width: 350px;
    height: 40px;
    margin: 0;
    margin-right: 192px;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

.hotel-card-list {    
    display: flex;     
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.hotel-card-item {
    width: 300px;
    padding: 20px;
    list-style-type: none;
}

.hotel-card-item:last-child {
    justify-content: flex-start;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.hotel-card-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-card-button-more {
    background: #756257;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hotel-card-button-favorites {
    background: #83B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-pagination-show-more {
    padding: 30px 218px;
    text-align: center;
}

.pagination-show-more {
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 0 auto;
    background: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pagination-container {
    display: flex;
}

.pagination {
    display: flex;
    width: 1060px;
    height: 55px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 90px;
}

.pagination-item:not(:last-child) {
    margin-right: 7px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 15px;
    background: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: auto;
}

.pagination-current {
    background: #F2F2F2;
    color: #000000;
}

.pagination-item-amount {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-left: auto;
    margin-right: 51px;
}

.pagination-select-control {
    width: 160px;
    height: 48px;
    padding-top: 3px;
    padding-bottom: 4px;
    align-self: center;
}